<!DOCTYPE html> {% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/clear.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalyze.css' %}" />
    <link rel="stylesheet" href="{% static 'css/basket.css' %}" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8" />
    <!-- <meta name=viewport content="width=device-width, initial-scale=1" /> -->
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <title>Лидер Поиска. Корзина</title>

</head>

<body>
    <header>
        <div class="header" style="margin-top: 10px;">

            <div class="header-logo">
                <a href="/"> <img class="logo" src="{% static 'images/nav/lp_logo 1.svg' %}" alt="logo"></a>
            </div>

            <div class="header-basket">
                <div class="basket">
                    <img class="basket img-basket" src="{% static 'images/nav/Fillbasket.svg' %}" alt="basket">
                </div>
                <div class="basket-text">
                    Корзина
                </div>
                <div id="basket-count" id="circle" class="circle">
                    0
                </div>
            </div>
        </div>
    </header>


    <!-- ===========Блок содержимого=========== -->
    <main>

        <h1>Корзина</h1>

        <div class="container">

        </div>
    </main>
    <br>
    <div class="container">
        <h1 class="total-price">Сумма 6330&nbsp;₽ </h1>
    </div>


    <div class="order">
        <div class="order-form">
            <form id="submitform" action="javascript:SendOrder.send()">
                <h2 class="order-form-title">Пожалуйста, представьтесь</h2>
                <input name="name" placeholder="Ваше имя" type="text">
                <input name="phone" placeholder="Телефон" type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{10,10}$">
                <input name="email" placeholder="Email" type="email">
                <button type="submit" class="make-order">ОФОРМИТЬ ЗАКАЗ</button>
            </form>
        </div>
    </div>

    <div id="popup" class="popup">
        <div class="popup__body">
            <div id="popup__content" class="popup__content">
                <div class="popup__close">
                    <a href="/" id=0 class=" popup__close__x"></a>
                </div>
                <div class="popup__title">
                    <p> Спасибо
                        <span id="client__name" class="popup__name"> </span> ваш заказ
                        <span id="client__order" class="popup__name"> </span> оформлен. </p>
                </div>
                <div class="popup__text">
                    В ближайшее время мы свяжемся с вами по телефону
                    <span id="client__phone" class="popup__number">  </span> для его подтверждения.
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer__text">
            Тестовое задание на должность младшего программиста «Лидера поиска», ver. 3.0
        </div>
    </div>

    <script type="text/javascript " src="{% static 'js/main.js' %} ">
    </script>
</body>

</html>