<!DOCTYPE html> {% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/clear.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalyze.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8" />
    <!-- <meta name=viewport content="width=device-width, initial-scale=1" /> -->
    <meta name=viewport content="width=device-width" />

    <title>Товары</title>

</head>

<body>
    <header>
        <div class="header" style="margin-top: 10px;">

            <div class="header-logo">
                <a href="/"> <img class="logo" src="{% static 'images/nav/lp_logo 1.svg' %}" alt="logo"></a>
            </div>

            <div onclick=basket.goToBasket() class="header-basket">
                <div class="basket">
                    <img class="basket img-basket" src="{% static 'images/nav/Fillbasket.svg' %}" alt="basket">
                </div>
                <div class="basket-text">
                    Корзина
                </div>
                <div id="basket-count" class="circle">
                    0
                </div>
            </div>
        </div>
    </header>


    <!-- ===========Блок содержимого=========== -->
    <main>

        <h1>Каталог товаров</h1>

        <div class="container">
        </div>
    </main>

    <div class="footer">
        <div class="footer__text">
            Тестовое задание на должность младшего программиста «Лидера поиска», ver. 3.0
        </div>
    </div>


    <script type="text/javascript" src="{% static 'js/main.js' %}">
    </script>
</body>

</html>