@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf")
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf")
}

html {
    font-family: "Montserrat-Medium";
}

body {
    font-family: "Montserrat-Medium";
    opacity: 100%;
}

header,
main {
    width: 100%;
    box-sizing: border-box;
}

.header {
    height: 37px;
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket-text {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    color: #35383A;
}

.header-basket {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #00A82D;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    visibility: hidden;
}

.footer {
    width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 20px;
    height: 36px;
    font-family: "Montserrat-Medium";
    font-size: 12px;
    color: #7C828B;
    border-top: 2px;
    border-color: #7C828B;
    border-style: solid;
}

.item-counter {
    width: 160px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.close-button,
.plus-minus {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    background-color: white;
    border: none;
}

.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-button:focus,
.close-button:active {
    border: none;
    outline: none;
}

.plus-minus {
    width: 25%;
}

.plus-minus {
    border: 1px;
    border-color: #DEDEDE;
    border-style: solid;
}

.plus-minus:hover {
    cursor: pointer;
}

.plus,
.minus,
.close {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.close-text {
    display: none;
}

.counter-view {
    width: 50%;
    height: 100%;
    border: 1px;
    border-color: #DEDEDE;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.plus:before,
.plus:after,
.minus:before,
.close:before,
.close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: rgb(0, 0, 0);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.plus:before {
    transform: rotate(90deg);
}

.plus:after {
    transform: rotate(0deg);
}

.minus:before {
    transform: rotate(90deg);
}

.container {
    margin: 0 auto;
    display: grid;
    width: 1170px;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 80%;
    max-height: 100%;
    justify-self: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.img-block {
    height: 100%;
}

.img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.item-desc {
    width: 23%;
    text-align: center;
    font-size: 16px;
    justify-content: space-between;
}

.reverser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 320px;
}

.item-price {
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 18px;
}

h1 {
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
    width: 1170px;
    display: block;
    font-size: 30px;
    font-family: 'Montserrat-Bold';
}

.popup__close__x {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.popup__close__x:before,
.popup__close__x:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: rgb(0, 0, 0);
}

.popup__close__x:before {
    transform: rotate(45deg);
}

.popup__close__x:after {
    transform: rotate(-45deg);
}

.total-price {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-right: 60px;
}

.line {
    width: 1170px;
    margin: 0 auto;
}

.order {
    height: 540px;
    width: 100%;
    background-color: #F2F5F9;
    display: flex;
    justify-content: center;
}

.order-form {
    width: 430px;
}

input,
.order-form-title {
    margin-top: 30px;
    width: 430px;
    height: 60px;
    border: 0;
    color: rgba(0, 0, 0, 0.788);
}

.order-form-title {
    text-align: center;
}

input {
    padding-left: 20px;
    padding-right: 20px;
}

input[type="text"]:focus {
    color: #000000;
}

form:valid .make-order {
    background-color: #296DC1;
}

form:valid .make-order:hover {
    background-color: #225492;
    cursor: pointer;
}

.make-order {
    background-color: #296dc18f;
    color: white;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: 0;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

.popup__content {
    background-color: white;
    color: black;
    max-width: 511px;
    height: 230px;
    padding: 35px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform: translate(0px, -100px);
}

.popup__close {
    position: absolute;
    right: 25px;
    top: 20px;
}

.popup__title {
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
}

.popup__text,
.popup__title {
    width: 445px;
}

.popup__name {
    font-size: 26px;
    font-family: "Montserrat-Bold";
}

.popup__number {
    font-size: 16px;
    font-family: "Montserrat-Bold";
}

@media screen and (max-width: 1170px) {
    .footer {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .container {
        width: 100%;
        padding: 0 10%;
    }
    .line {
        width: 100%;
    }
    .header {
        width: 100%;
        padding: 0 20px;
    }
    h1 {
        width: 100%;
    }
    .item {
        width: 100%;
    }
}

h2 {
    font-size: 26px;
    font-family: "Montserrat-Bold";
}

@media screen and (max-width: 931px) {
    .container {
        width: 890px;
    }
    .header {
        width: 100%;
    }
    .line {
        width: 90%;
    }
    .footer {
        width: 890px;
    }
}

@media screen and (max-width: 890px) {
    .img-block {
        height: 90%;
    }
    .container {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .line {
        width: 100%;
    }
}

@media screen and (max-width: 691px) {
    .total-price {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 60px;
        margin-right: 0px;
    }
    .popup__content {
        width: 100%;
        height: 250px;
    }
    .popup__body {
        width: 100%;
    }
    .popup__title,
    .popup__text {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .reverser {
        height: 146px;
        flex-direction: column-reverse;
    }
    .item {
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 605px;
    }
    .item-desc {
        width: 100%;
        text-align: center;
        font-size: 16px;
        height: 42px;
        margin-bottom: 15px;
    }
    .img-block {
        width: 70%;
        height: 60%;
        margin-bottom: 15px;
    }
    .img {
        margin: 0 auto;
    }
    .item-counter {
        margin-bottom: 15px;
    }
    .close-button {
        display: flex;
        flex-direction: row;
        background-color: #296DC1;
        color: white;
        width: 171px;
        height: 40px;
    }
    .close-x-block {
        width: 12px;
        margin-right: 10px;
    }
    .close:before {
        transform: rotate(45deg);
        width: 1px;
        background-color: rgb(255, 255, 255);
    }
    .close:after {
        transform: rotate(-45deg);
        width: 1px;
        background-color: rgb(255, 255, 255);
    }
    .close-text {
        display: flex;
        color: white;
        font-size: 16px;
        justify-self: end;
    }
    .close-button:hover {
        background-color: #1d4b83;
        cursor: pointer;
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 20%;
    }
    .header {
        width: 100%;
    }
    .order {
        width: 100%;
    }
    input,
    .make-order,
    .order-form-title {
        width: 80%;
        height: 60px;
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
        border: 0;
    }
}

@media screen and (max-width: 510px) {
    .popup__content {
        width: 100%;
        height: 280px;
    }
    .popup__title,
    .popup__text {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .item {
        margin: 0 auto;
    }
    .basket-text {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 100%;
        padding: 0 10%;
    }
    .popup__content {
        height: 370px;
    }
    .item {
        max-width: 100%;
    }
    .item-desc {
        width: 100%;
    }
    .img-block {
        width: 90%;
    }
    .close-button {
        width: 80%
    }
    .header {
        width: 100%;
    }
    .order {
        width: 100%;
    }
    input,
    .make-order,
    .order-form-title {
        width: 80%;
    }
}