@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf")
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf")
}

body {
    font-family: "Montserrat-Medium";
    opacity: 100%;
    /* width: 100%; */
    /* transition: 1s ease; */
}

header,
main {
    width: 100%;
    box-sizing: border-box;
}

.header {
    height: 37px;
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket-text {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    color: #35383A;
}

.basket__active:hover {
    color: #00A82D;
    cursor: pointer;
}

.header-basket {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #00A82D;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    visibility: hidden;
}

.container {
    margin: 0 auto;
    display: grid;
    width: 1170px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    box-sizing: border-box;
}

.item {
    border: 2px;
    border-color: #DEDEDE;
    border-style: solid;
    padding-bottom: 20px;
}

img {
    max-width: 80%;
    max-height: 100%;
    justify-self: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.img-block {
    width: 100%;
    padding: 10px 35px 0 35px;
}

.item-info {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-desc {
    width: 100%;
    text-align: center;
    margin-top: calc(340%/38);
    padding: 0 calc(200%/27);
    font-size: 16px;
}

.item-price {
    margin-top: 18px;
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    padding: 0 calc(2000%/270);
}

h1 {
    font-family: "Montserrat-Bold";
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
    width: 1170px;
    font-size: 30px;
    display: block;
}

.add_basket {
    width: 186px;
    display: none;
    height: 40px;
    font-size: 12px;
    background: #296DC1;
    color: white;
    border: 0;
    cursor: pointer;
}

.footer {
    width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 20px;
    height: 36px;
    font-family: "Montserrat-Medium";
    font-size: 12px;
    color: #7C828B;
    border-top: 2px;
    border-color: #7C828B;
    border-style: solid;
}

@media screen and (max-width: 1170px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .footer {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .header {
        width: 100%;
        padding: 0 20px;
    }
    h1 {
        width: 100%;
    }
    .item {
        width: 100%;
    }
    .item-desc {
        font-size: 15px;
    }
}

h2 {
    font-size: 26px;
    font-family: "Montserrat-Bold";
}

@media screen and (min-width: 931px) {
    .add_basket {
        display: none;
        width: 186px;
        height: 40px;
        background: #296DC1;
        color: white;
        border: 0
    }
    .item:hover .add_basket {
        display: block;
        margin-top: 15px;
    }
    .item:hover .item-desc {
        width: 100%;
        text-align: center;
        margin-top: 4px;
        padding: 0 20px;
        transition: 0.2s ease;
    }
}

@media screen and (max-width: 931px) {
    .add_basket {
        display: block;
        width: 186px;
        height: 40px;
        background: #296DC1;
        color: white;
        border: 0;
        margin-top: 15px;
    }
    .item-desc {
        width: 100%;
        text-align: center;
        margin-top: 4px;
    }
    .container {
        width: 890px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
    }
    .footer {
        width: 890px;
    }
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 890px) {
    .container,
    .footer {
        width: 100%;
    }
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 691px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 42px;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 20%;
    }
    .header {
        width: 100%;
    }
    .item {
        margin: 0 auto;
        width: 100%;
        max-width: 691px;
    }
}

@media screen and (max-width: 510px) {
    .header {
        width: 100%;
    }
    .item {
        margin: 0 auto;
    }
    .basket-text {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
        width: 80%;
    }
    .add_basket {
        width: 80%
    }
}